[project]
rel_html_proj           = hostapd
rel_html_stable_vers	= 1.1
rel_html_url_releases	= http://hostap.epitest.fi/releases/
rel_license 		= BSD
ignore_signatures	= True
ignore_changelogs	= True
release_extension	= tar.gz

[html]
title = hostapd: Linux wireless 802.11 configuration utility

nav_01_url = http://hostap.epitest.fi/hostapd/
nav_01_txt = Documentation

# XXX: Note: two % added here to help with what seems to be a python ConfigParser.py bug.
#      We should address this eventually.
nav_02_url = http://hostap.epitest.fi/bugz/
nav_02_txt = Bugs

nav_03_url = http://lists.shmoo.com/mailman/listinfo/hostap
nav_03_txt = Mailing List

release_title = hostapd releases

about_title = About hostapd
about = hostapd is a user space daemon for access point and authentication
	servers. It implements IEEE 802.11 access point management,
	IEEE 802.1X/WPA/WPA2/EAP Authenticators, RADIUS client, EAP
	server, and RADIUS authentication server. The current version
	supports Linux (Host AP, madwifi, mac80211-based drivers) and
	FreeBSD (net80211). hostapd is designed to be a "daemon" program
	that runs in the background and acts as the backend component
	controlling authentication. hostapd supports separate frontend
	programs and an example text-based frontend, hostapd_cli, is
	included with hostapd.
